<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotAmf" version="1.0.4" targetFramework="net46" />
  <package id="FlaUI.Core.Signed" version="3.1.0" targetFramework="net45" />
  <package id="FlaUI.UIA3.Signed" version="3.1.0" targetFramework="net45" />
  <package id="Interop.UIAutomationClient.Signed" version="10.18362.0" targetFramework="net452" />
  <package id="System.Management" version="4.7.0" targetFramework="net452" />
</packages>